<div class="flex-container space-between v-center">
  <span>
    <form class="search-form">
      <mat-form-field appearance="fill">
        <mat-label>Search Users</mat-label>
        <input
          matInput
          type="search"
          placeholder=""
          class="search-input"
          name="query"
          [(ngModel)]="query"
          (ngModelChange)="queryChange($event)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </span>
  <div>
    <button mat-stroked-button color="primary">New User</button>
  </div>
</div>
